* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    -webkit-apperance: none
}

a,
img {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color:transparent;
}

.content {
    width: 1400px;
    margin: 0 auto;
}

.title_bar {
    background-color: rgb(62, 67, 76);
    height: 60px;
    line-height: 60px;
}

.current {
    background-color: rgb(255, 121, 0);
}

.title_bar a {
    color: whitesmoke;
    text-decoration: none;
    float: right;
    display: block;
    height: 60px;
    padding: 0 10px;
}