.category-title{
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 1.5em;
}
.category-handle{
    float: right;
    display: flex;
    justify-content: space-between;
}
.anum{
    width: 100px;
    text-align: center;
}
.mod{
    width: 300px;
    text-align: center;
}
.category-item .mod a,
.category-edit{
    color: rgb(0,161,214);
}
.category-edit:hover{
    cursor: pointer;
}
.category-item:after{
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}


.category-item{
    padding: 10px 20px;
    height: 78px;
    line-height: 65px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}
.category-item:hover{
    background-color: #fff;
    cursor: pointer;
}
.category-droplist{
    padding: 10px 20px;
    margin-top: 3px;
    background-color: #fff;
    display: none;
}
.header-l h1{
    font-size: 2em;
    font-weight: bold;
}
.category-addbtn{
    padding: 10px 20px;
    font-size: 20px;
}
input[type='file']{
    display: block;
}
.preview {
    margin-top: 24px;
    width: 260px;
    height: 210px;
    background: url('/upload/setting/bg.png') no-repeat center center ;
    text-align: center;
    position: relative;
    background-size:cover;
}
.preview-input-add,
.preview-input {
    width: 100%;
    height: 100%;
    line-height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.upload {
    height: 100%;
    opacity: 0;
}

.preview:hover .upload {
    opacity: 1;
    
}

.upload i {
    font-size: 1.3em;
}

.upload-text {
    
    padding-top: 70px;
    font-size: 1.3em;
    color: #666666e5;
}