.comment-title{
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 1.5em;
}
.comment-item,
.comment-title{
    display: flex;
    justify-content:flex-start;
    flex-wrap: nowrap;
    width: 1420px;
}

.comment-handle{
    width: 12%
}
.cmt-status,
.cmt-article,
.cmt-user,
.cmt-content,
.cmt-time{
    display: inline-block;
    overflow: hidden;    
    text-overflow: ellipsis;    
    white-space: nowrap;
    text-align: center;
}
.cmt-article{
    width: 300px;
    
}
.comment-item  .cmt-article{
    color: rgb(0, 153, 255);
}
.cmt-user{
    width: 130px;
}
.cmt-time{
    width: 200px;
}
.cmt-content{
    width: 365px;
}
.comment-item{
    padding: 10px 20px;
    height: 50px;
    line-height:40px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
}
.cmt-reply{
    color: rgb(0, 153, 255);
    font-size: 20px;
}
.cmt-reply:hover{
    cursor: pointer;
}
.comment-main{
    min-height: 600px;
}
.cmt-delete{
    color: crimson;
    font-size: 20px;
}
.cmt-delete:hover{
    cursor: pointer;
}
.approval{
    display: block;
    padding: 0 10px;
    height: 35px;
    border-radius: 3px;
    color: white;
    background-color: rgb(23, 149, 252);
    margin-left: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.cmt-status{
    position: relative;
    width: 151px;
}