body {
    background: url('/admin/login.jpg') no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

html {
    height: 100%;
}

.login {
    margin: 0 auto;
    margin-top: calc(50vh - 170px);
    width: 600px;
    padding: 50px 0;
}

h2 {
    text-align: center;
}

.login_form {
    margin-top: 10px;
    padding: 20px;
    box-shadow: -2px 1px 9px 5px #fbfbfb;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
}

input[type='text'],
input[type='password'] {
    width: 550px;
    height: 40px;
    border-radius: 5px;
    outline-style: none;
    border: 1px solid #eee;
    font-size: 20px;
    padding: 0 15px;
    margin: 5px 0;
}
.loginbtn {
    width: 120px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    margin-top: 15px;
    background: #ef32d9;
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
    background: linear-gradient(90deg, #89fffd,#d9ec27,#ef32d9, #89fffd);
    background-size: 400%;
    color: white;
    outline-style: none;
    border: 0px;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.loginbtn:hover{
    animation: sun 6s infinite linear;
}
.loginbtn:hover::before{
    animation: sun 6s infinite linear;
}
.loginbtn::before{
    content: ' ';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(90deg,#d9ec27, #89fffd,#ef32d9, #d9ec27);
    background-size: 400%;
    z-index: -1;
    border-radius: 50px;
}
.sun{
    position: relative;
}
@keyframes sun{

    100%{
        background-position: -400% 0;
    }
}
#form::after {
    content: ' ';
    display: block;
    height: 40px;
    width: 100px;
    margin-top: 15px;
}

#bt:active {
    background-color: rgb(76, 157, 232);
    border-top: 1px solid #9cc;
    box-shadow: 0px 1px 1px #9cc inset, 1px 0px 1px #9cc inset;
}

.err {
    color: rgb(255, 70, 70);
    margin: 4px 3px;
    display: none;
}

label {
    margin: 5px 0;
}