.setting {
    margin:85px 100px;
    background-color: #fff;
    display: inline-block;
    padding:42px 220px 91px 46px;
    box-shadow: #ccc 5px 2px 12px 3px;
}

.setting-item  {
    margin: 10px 0  ;
}

.st-label {
    display: inline-block;
    text-align: right;
    width: 70px;
    margin-right: 20px;
}

.preview {
    margin-top: 15px;
    width: 260px;
    height: 210px;
    background: url('/upload/setting/bg.png') no-repeat center center ;
    text-align: center;
    position: relative;
    background-size:cover;
}

.preview-input {
    width: 100%;
    height: 100%;
    line-height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.upload {
    height: 100%;
    opacity: 0;
}

.preview:hover .upload {
    opacity: 1;
    
}

.upload i {
    font-size: 1.3em;
}

.upload-text {
    
    padding-top: 70px;
    font-size: 1.3em;
    color: #666666e5;
}

.setting-img .setting-item {
    margin-right: 30px;
    float: left;
    margin-bottom: 25px;
}

input[type='text'] {
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 300px;
    height: 35px;
    padding-left: 3px;
}

button[type='submit'] {
    background-color: rgb(50, 66, 95);
    font-size: 1.3em;
    text-align: center;
    border-radius: 5px;
    padding: 6px 10px;
    outline: 0;
    border: 0;
    color: white;
    margin-left: 90px;
}
.check-item{
    display: inline-block;
    vertical-align:top;
}
