<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,
        minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="个人博客,博客,学习博客,学习过程,wxh,前端学习,王雄辉个人博客,JackWang的博客,JackWang Blog">
    <meta name="describe" content="王雄辉的个人博客,记录了前端学习过程，学习并分享PHP、Node、MySQL和前端技术等WEB知识,记录生活的点点滴滴,是一个互联网从业者值得收藏的网站。">
    <link rel="icon"  type="image/x-icon">
    <script src="/lib/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/home/css/base.css">
    <link rel="stylesheet" href="/home/css/home.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <script src='/lib/vue.js'></script>
    <script src="/lib/axios.js"></script>
    <script src="/home/js/backTop.js"></script>
    <link rel="stylesheet" href="/home/css/resLayout.css">
    <title>JackWang Blog- 个人博客~</title>
</head>
<body >
    <div class="title_bar">
        <ul class="layui-nav">
            <div class="title_contain">
                <li class="layui-nav-item">
                    <a href="/">主页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/home/article">文章</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/home/message">留言板</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/home/about">个人信息</a>
                </li>
                <div class="title-contain-console">
                    <li class="layui-nav-item">
                        <a href="/admin">控制台<i class="layui-icon">&#xe665;</i></a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
    <div id='app'>
        <div class="container">
            <div class="leftbox">
                <div class="leftbox-main">
                    <div class="lb-item">
                        <div class="layui-card">
                            <div class="layui-card-header card-header">分类专栏</div>
                            <div class="layui-card-body">
                                <ul>
                                    <li class="card-selected" v-for="item in categories" :key="item._id" v-if="item.count!=0">
                                        <a :href="'/home/category?cgid='+item.cgid"
                                            style="display: block;">{{item.cgname}}
                                            <i>{{item.count}}篇</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lb-item archive">
                        <div class="layui-card">
                            <div class="layui-card-header card-header">归档</div>
                            <div class="layui-card-body">
                                <ul>
                                    <li v-for="item1 in group" :key="item1.month">
                                      
                                        <div class="archive-item">
                                            <p class="archive-title">{{item1.month}}<i>{{item1.articles.length}}篇</i>
                                            </p>
                                            <ul class="archive-content">
                                                
                                                <li class="card-selected" v-for="item2 in item1.articles">
                                                    <a :href="'/home/article?aid='+item2._id">{{item2.title}}</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                      
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="lb-item datetime">
                        <div class="site-demo-laydate">
                            <div class="layui-inline" id="test-n1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="crumbs">
                    <span class="layui-breadcrumb" lay-separator=">>">
                        <a href="#">首页</a>
                        <a><cite>时间线</cite></a>
                    </span>
                </div>
                <div class="timeline">
                    <ul class="layui-timeline">
                        <li class="layui-timeline-item" v-for='item in articles' :key='item._id'>
                            <i class="layui-icon layui-timeline-axis"></i>
                            <h3 class="layui-timeline-title">{{item.publishDate | dateFormat}}</h3>
                            <div class="article-content">
                                <div class="layui-timeline-content layui-text">
                                    <h2>{{item.title}}</h2>
                                    <div class="cover-intro">
                                        <div class="cover">
                                            <a :href="'/home/article?aid='+item._id">
                                                <img :src="item.cover" alt="">
                                            </a>
                                        </div>
                                        <div class="intro">
                                            {{item.content}}
                                        </div>
                                    </div>
                                    <div>
                                        <div class="readmore">
                                            <a :href="'/home/article?aid='+item._id">阅读全文</a>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="layui-timeline-item">
                            <h3 class="layui-timeline-title"><a href="/home/article">更早以前</a></h3>

                        </li>
                    </ul>

                </div>
                <div class="loading">
                    <i class="layui-icon icon-loading" v-if='isend'>&#xe63d;</i>
                    <p v-if='islast'>已无更多数据</p>
                </div>

            </div>
            <div class="rightbox">
                <div class="rightbox-main">
                    <div class="rb-item webinfo">
                        <div class="layui-card">
                            <div class="layui-card-header card-header">博客信息</div>
                            <div class="layui-card-body">
                                <ul>
                                    <li class="card-selected">
                                        <i class="layui-icon">&#xe756;</i>
                                        <span>访客数量</span>
                                        <span class="card-num">{{bloginfo.visitors}}</span>
                                    </li>
                                    <li class="card-selected">
                                        <i class="layui-icon">&#xe648;</i>
                                        <span>运行天数</span>
                                        <span class="card-num">{{bloginfo.runtime}}天</span>
                                    </li>
                                    <li class="card-selected">
                                        <i class="layui-icon">&#xe621;</i>
                                        <span>文章数量</span>
                                        <span class="card-num">{{bloginfo.articleCount}}</span>
                                    </li>
                                    <li class="card-selected">
                                        <i class="layui-icon" style="color:hsl(0, 0%, 60%)">&#xe611; </i>
                                        <span>评论数</span>
                                        <span class="card-num">{{bloginfo.commentCount}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rb-item ltsCmt">
                        <div class="layui-card">
                            <div class="layui-card-header card-header">最新评论</div>
                            <div class="layui-card-body">
                                <ul>
                                    
                                    <li v-for="item in comments" :key="item._id">
                                        <div class="ltsCmt-info">
                                            <div class="ltsCmt-header">
                                                <span>{{item.username}}&nbsp;&nbsp;</span>
                                                <span>{{item.time | dateFormat}}</span>
                                            </div>
                                            <div class="lstCmt-content">
                                                {{item.content}}
                                            </div>
                                        </div>
                                    </li>
                                   

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rb-item hotAtl">
                        <div class="layui-card">
                            <div class="layui-card-header card-header">热门</div>
                            <div class="layui-card-body">
                                <ul>
                                    <li v-for="item in hotArticles" :key="item._id">
                                        <div class="hotAtl-info">
                                            <div class="hotAtl-cover">
                                                <img :src="item.cover" alt="">
                                            </div>
                                            <div class="hotAtl-content">
                                                <a :href="'/home/article?aid='+item._id"># &nbsp;{{item.title}}</a>
                                                <span>{{item.pageviews}}&nbsp;次围观</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backTop" style="left: 1409px;">
                <div class="back-line">
                </div>
                <div class="backArrow">
                    <i class="layui-icon">&#xe604;</i>
                    <span>回到顶部</span>
                </div>
            </div>
        </div>
    </div>
    <script src="/home/js/base.js"></script>

</body>
<script src="/home/js/index.js"></script>

</html>