* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}
h1{
    border-bottom: 0 !important;
}
input {
    -webkit-apperance: none
}
.clear{
    clear: both;
}
a,
img {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color:transparent;
}
a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.container {
    margin-top: 80px;
    justify-content: center;
    display: flex;
    transition: .5s;
    width:100vw;
}

.content {
    width: 1400px;
    margin: 0 auto;
}

.title_bar a {
    color: whitesmoke;
    text-decoration: none;
    float: right;
    display: block;
    padding: 0 10px;
}

.title_contain {
    text-align: center;
}

.title-contain-console {
    float: right;
    margin-right: 20px;
}

.title-contain-console i {
    margin-left: 5px;
}

.title_bar {
    width: 100%;
    position: fixed;
    z-index: 999;
}

.code .container {
    display: block;
}