.addMessage{    
    outline: 0;
    padding: 10px 50px;
    width: 100%;
}
.inputdiv{
    display: flex;
    justify-content: space-around;
}
.message-input{
    height: 3rem;
    line-height: 1rem;
    margin-top: .625rem;
    border: 1px solid #ececec;
    border-radius: 0.3125rem;
    width:32.96%;
    box-sizing: border-box;
}
.msg-submit-button{
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 1000% 1000%;
    -moz-animation: Gradient 90s linear infinite;
    animation: Gradient 90s linear infinite;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    margin-top: 0.625rem;
    cursor: pointer;
    color: #fff;
    border: 0;
    margin: 10px auto;
    border-radius: 0.3125rem;
    display: block;
    padding: 0 1rem;
    height: 3rem;
    font-weight: 500;
}
.addMessage textarea{
    display: inline-block;
    padding: .438rem .525rem;
    border: 1px solid #ececec;
    border-radius: 0.3125rem;
    color: #222;
    overflow-y: visible;
    width: 100%;
    vertical-align: top;    
}

.child-font .reply{
    float: right;
    display: block;
}
.main{
    width: 966px;
}