@media  screen  and  (max-width: 1300px){
    .leftbox{
        display: none;
    }
}
@media  screen  and  (max-width: 1000px){
    .cover{
        display: none;
    }
    html{
        overflow-y: auto !important;
    }
}
@media  screen  and  (max-width: 900px){
   .rightbox{
       display: none;
   }
}

@media  screen  and  (max-width: 768px){
    
    .intro{
        display: none;
    }
    .cover{
        display: block;
    }
    .backTop{
        display: none !important;
    }
    .timeline{
        margin-top: 26px;
    }
    .layui-timeline-content{
        padding-left: 6px;
    }
    .article-content{
        padding-bottom: 15px;
    }
    .comments{
        padding: 10px 5px;
    }
    .layui-text h2 {
        font-size: 20px;
    }
    .readmore{
        display: none;
    }
    .addMessage{
        padding: 10px 0;
    }
    .title-contain-console{
        display: none;
    }
    .container{
        width: 100%;
    }
    .info_detail li{
        font-size: 20px;
    }
    .main{
        padding: 10px 10px;
        margin: 0 auto;
        width: 100%;
    }
    .timeline{
        margin-left:0px;
    }
    .layui-text h2{
        display: block;
        width: 70vw;
    }

    .avatar img{
        width: 100px !important;
        height: 100px !important;
    }
    .info_detail li{
        width: 100% !important;
    }
    .layui-timeline-title{
        top: -20px !important;
        left: 35px !important;
    }
    .article-main img{
        display: block;
    }
}

@media screen and (max-width:360px){
    .layui-nav .layui-nav-item a{
        padding: 0 14px;
    }
}